body {
    text-align: center;
    background-color: black;
}
.jumbotron{
    margin: 20px auto 0;
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
    background-color: #CCC;
} .alert{
    margin-bottom: 0;
    display: none;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    background: red;
    cursor: inherit;
    display: block;
}
#usurr {
    background-color: white !important;
    cursor: text !important;
}
span.fa-2x {
    font-size: 1.6em !important;
    line-height: 34px;
}
#smalNome{
    display:none;
    float:left;
    margin-bottom: 0;
}
.bordNone{
    border:none !important;
}.invisivel{
    display: none !important;
}
#semcep {
    float:right;
}