#log:hover {
    text-shadow: 0 0 0.2em #cccccc, 0 0 0.2em #cccccc;
}
.navbar-brand {
    font-size:28px;
    font-family: Lobster;
    color: black !important;
    text-shadow: 1px 0px 0px #fff, -1px 0px 0px #fff, 0px 1px 0px #fff, 0px -1px 0px #fff;
    vertical-align:middle;
    margin-bottom: 0px;
    padding-bottom: 0px;
}
#itensRod{
    font-size: 13px;
} #itensRod p {
    font-size: 17px;
} .carousel .item img {
    width: 100%; /*img width*/
    height: 100%;
}
/* AJUSTES SLIDER */
.carousel .item {
    max-height: 450px; /*slider height*/
    margin-right: auto;
    margin-left: auto;
}
/* MARCA QUANDO PASSA MAUSE NO MENU */
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    background-color: #ccc;
}
/* ==========================================================================

AJUSTES DESIGN RESPONSIVO
   ========================================================================== */
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width: 320px) {
    /* Pequena margem dos itens do menu */
    #topoTudo {
        width: 98%;
        margin-right: auto;
        margin-left: auto;
    }
    p {font-size: 18px;}
    h1 {font-size: 31px;}
}

@media only screen and (min-width: 321px) {
    p {font-size: 20px;}
    h1{font-size: 31px;}
    /* Boa margem dos itens do menu */
    #topoTudo {
        width: 90%;
        margin-right: auto;
        margin-left: auto;
    }
}

/* RODAPÉ */
@media (max-width: 610px) {
    #itensRod{display:block;}
    #clear{ margin-top: 457px}
    /* LINHA VERTICAL DESAPARECE RODAPE RESPONSIVO */
    .linhaSubVer {
        visibility: hidden;
        height: 1px;
        width:1px;
        margin:0;
    }
}
@media (min-width: 767px) {
    p {font-size: 22px;}
    h1 {font-size: 31px;}
    /* ALINHA MENU TELA NORMAL */
    #topoTudo {
        width: 80%;
        margin-right: auto;
        margin-left: auto;
    }
    #topoItem {float: right;}
    .container {width:100% ; max-width:1140px;}
    /* AJUSTE MENU RESPONSIVO */
    ul.nav li:hover > ul.dropdown-menu {
        display: block;
    }
}
// SEPARACAO ENTRE SMARTPHONES (CIMA) E OUTROS DISPOSITIVOS (BAIXO)
/*full width container*/
@media (max-width: 767px) {
    .block {
        margin-right: auto;
        margin-left: auto;
    }
    /* AJUSTE MENU RESPONSIVO E MARCAÇÃO */
    .navbar-default .navbar-nav .dropdown-menu > li > a {
        background-color: #ccc;
        border-radius: 4px;
        margin-top: 2px;
    }
}
@media (max-width: 1090px) {
    .carousel .item {
        max-height: 390px; /*slider height*/
        margin-right: auto;
        margin-left: auto;
    }
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1200px) {
    p {font-size: 26px;}
    h1 {font-size: 33px;}
    /* AJUSTE CABECALHO TELAS GRANDES */
    #topoTudo {
        margin-right: auto;
        margin-left: auto;
    }
}





.jumbotron {
    margin: 20px auto 0;
    max-width: 450px;
    padding: 20px;
    border-radius: 10px;
    background-color: #CCC;
}
.alert {
    margin-bottom:0;
    display: none;
}
table{
    width:100%;
}td ,th{
    padding:10px 10px;
}caption{
    color:#CCC;
}


.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

//.navbar-login-session
//{
//    padding: 10px;
//    padding-bottom: 0px;
//    padding-top: 0px;
//}

.icon-size
{
    font-size: 87px;
}
.adicionar {
    width: 500px;
    padding: 20px;
    font-size: 30px;
    margin: 20px;
}
@media (max-width: 560px) {
    .adicionar{
        width: 80%;
    }
}

.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .9), 0 6px 30px 5px rgba(0, 0, 0, .9), 0 8px 10px -5px rgba(0, 0, 0, .9)
}.adote{
    margin-bottom: 30px;
} .btn_esq {
    margin-right: 6px;
} .semborda {
    text-shadow: none;
} .escuro {
    position:fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.76);
    z-index: 9000;
} .env_mail {
    position:fixed;
    width: 383px;
    height: 250px;
    background-color: #3d3d3d;
    z-index: 9001;
    margin: 10% auto;
    left: 0;
    right: 0;
    padding-top: 5px
} .texto_senha{
    line-height: 21px;
    text-align: left;
    margin-top: 15px
} .hr1{
    margin-top: 10px;
    margin-bottom: 18px;
} .p2 {
    margin-top: 17px;
    font-size: 19px;
    line-height: 0px !important;
    float: left;
    text-decoration: underline;
    margin-left: 11px;
}
